version: "3.5"
services:

  # Hub ####################################################################
  hub:
    #https://www.envoyproxy.io/docs/envoy/latest/start/docker
    image: envoyproxy/envoy:v1.23.1
    networks:
      xtec-hub:
        ipv4_address: 10.1.0.21
      xtec-etherpad:
        ipv4_address: 10.2.0.11
      xtec-mailu:
        ipv4_address: 10.3.0.11

    ports:
      - "3000:3000"
      - "10000:10000"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml

  # Etherpad ##################################################################

  etherpad:
    image: etherpad/etherpad:1.8.10
    networks:
      xtec-etherpad:
        ipv4_address: 10.2.0.21
    environment:
      - TITLE=SMX-8
      - DEFAULT_PAD_TEXT=Welcome to SMX-8
      - ADMIN_PASSWORD=${ETHERPAD_ADMIN_PASSWORD}
      - ADMIN_USER=admin
      - DB_TYPE=mysql
      - DB_HOST=etherpad_mariadb
      - DB_PORT=3306
      - DB_USER=etherpad
      - DB_PASS=${MARIADB_PASSWORD}
      - DB_NAME=etherpad
      - DB_CHARSET=utf8mb4
      - API_KEY=${ETHERPAD_API_KEY}
      - SESSION_REQUIRED=false
    ports:
      - "3000:9001"
    depends_on:
      - etherpad_mariadb

  etherpad_mariadb:
    image: mariadb:10.6
    networks:
      xtec-etherpad:
    environment:
      - MYSQL_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MYSQL_DATABASE=etherpad
      - MYSQL_USER=etherpad
      - MYSQL_PASSWORD=${MARIADB_PASSWORD}
    #volumes:
    #  - './data:/var/lib/mysql'
    command:
      [
        'mysqld',
        '--character-set-server=utf8mb4',
        '--collation-server=utf8mb4_unicode_ci'
      ]
    healthcheck:
      test: mysqladmin -p${MARIADB_ROOT_PASSWORD} ping -h localhost
      interval: 20s
      start_period: 10s
      timeout: 10s
      retries: 3

  # mailu ######################################################################

  mailu_redis:
    image: redis:alpine
    restart: always
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/redis:/data"
    depends_on:
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_front:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}nginx:${MAILU_VERSION:-1.9}
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu: #ipv4_address: 10.3.0.11
    logging:
      driver: json-file
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
      - "127.0.0.1:25:25"
      - "127.0.0.1:465:465"
      - "127.0.0.1:587:587"
      - "127.0.0.1:110:110"
      - "127.0.0.1:995:995"
      - "127.0.0.1:143:143"
      - "127.0.0.1:993:993"
    volumes:
      - "/mailu/certs:/certs"
      - "/mailu/overrides/nginx:/overrides:ro"
    depends_on:
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_resolver:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}unbound:${MAILU_VERSION:-1.9}
    env_file: mailu.env
    restart: always
    networks:
      xtec-mailu:
        ipv4_address: 10.3.0.254

  mailu_admin:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}admin:${MAILU_VERSION:-1.9}
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/data:/data"
      - "/mailu/dkim:/dkim"
    depends_on:
      - mailu_redis
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_imap:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}dovecot:${MAILU_VERSION:-1.9}
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/mail:/mail"
      - "/mailu/overrides/dovecot:/overrides:ro"
    depends_on:
      - mailu_front
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_smtp:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}postfix:${MAILU_VERSION:-1.9}
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/mailqueue:/queue"
      - "/mailu/overrides/postfix:/overrides:ro"
    depends_on:
      - mailu_front
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_antispam:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}rspamd:${MAILU_VERSION:-1.9}
    hostname: antispam
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/filter:/var/lib/rspamd"
      - "/mailu/overrides/rspamd:/etc/rspamd/override.d:ro"
    depends_on:
      - mailu_front
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_antivirus:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}clamav:${MAILU_VERSION:-1.9}
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/filter:/data"
    depends_on:
      - mailu_resolver
    dns:
      - 10.3.0.254

  mailu_webmail:
    image: ${DOCKER_ORG:-mailu}/${DOCKER_PREFIX:-}roundcube:${MAILU_VERSION:-1.9}
    restart: always
    env_file: mailu.env
    networks:
      xtec-mailu:
    volumes:
      - "/mailu/webmail:/data"
      - "/mailu/overrides/roundcube:/overrides:ro"
    depends_on:
      - mailu_imap
      - mailu_resolver
    dns:
      - 10.3.0.254

networks:

  xtec-hub:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.1.0.0/24

  xtec-etherpad:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.2.0.0/24

  xtec-mailu:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.3.0.0/24
